.bet-hisotry-div {
  position: absolute;
  width: 100%;
  background: #202124 0% 0% no-repeat padding-box;
  .header {
    background: #292B2E 0% 0% no-repeat padding-box;
    height: 48px;
    align-items: center;
    padding: 0 20px;
    div {
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0.96px;
      color: #FFFFFF;
    }
  }
}