.horseRacingPage {
  font-family: Roboto, serif;
  margin-top: 160px;
  padding: 8px 0;
  display: flex;
  flex-direction: row;

  .leftPane {
    width: 320px;
    padding: 4px;
    background-color: #1D1E21;
  }

  .rightPane {

  }
}